# Ignore pycharm files #
.idea/

# Ignore venv file #
venv/

# Ignore personal log file #
BandwidthTesterLog.log

# Ignore personal test results #
TestResults/

# Ignore all txt file except packages #
*.txt
!packages.txt

# Ignore csv data files #
*.csv
